:root{
    --primary-darkblue-color: hsl(240,38%,20%);
    --primary-grayishblue-color: hsl(240,18%,77%);
    --fs-body: 32px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-body);
}

img{
    width: 100%;
}

.slide-container{

}